<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <h6 class="footer-title">
                    <span class="lnr lnr-apartment pr-1"></span> Dakbayan Hotel
                </h6>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur aspernatur nam est optio a cumque quibusdam id numquam praesentium.</p>
            </div>            
            <div class="col-lg-3 col-md-6 col-sm-6">
                <h6 class="footer-title">
                   <span class="lnr lnr-bookmark pr-1"></span> Quick Links
                </h6>                
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">About us</a></li>
                    <li><a href="">Gallery</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <h6 class="footer-title">
                    <span class="lnr lnr-enter pr-1"></span> Check-in hours
                 </h6>                
                 <ul>
                     <li><strong>MWF</strong>: 9:00AM-2:00PM</li>
                     <li><strong>TTH</strong>: 12:00NN-2:30PM</li>
                     <li><strong>SATSUNS</strong>: 7:30AM-10:00AM</li>
                 </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <h6 class="footer-title">
                   <span class="lnr lnr-keyboard pr-1"></span> Developed by <br><strong>Seth Joshua Moraga</strong>
                </h6>                
                <p><span class="lnr lnr-envelope pr-2"></span> realsjmoraga@gmail.com</p>
            </div>
        </div>
        <div class="border-line"></div>
        <div class="text-center pt-2 copyright">
            <p>Copyright ©<strong>{{getCurrentYear()}}</strong> All rights reserved | <span class="developer">SJ Moraga</span></p>
        </div>
    </div>
</footer>