<section class="main-banner">
    <div class="mb_parallax_container" id="bg-parallax">
        <div class="mask">
            <div class="banner-area">
                <main>
                    <div class="branding">
                        <div class="position-relative overflow-hidden p-3 p-md-5 text-center">
                            <div class="col-md-5 p-lg-5 mx-auto my-5">
                                <h1 class="display-4 fw-bold">Dakbayan Hotel</h1>
                                <p class="lead fw-normal">Experience a <strong>5 star</strong> hotel here at Davao City.
                                    We give
                                    you everything right here,
                                    where you need it.</p>
                                <a class="btn btn-booknow" (click)="openBookingModal()">Book now</a>
                            </div>
                            <div class="product-device shadow-sm d-none d-md-block"></div>
                            <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</section>
<section class="accomodation-area">
    <div class="container">
        <div class="section-title text-center">
            <h3 class="fw-bold">Hotel Accomodation</h3>
            <p>We offer the best room experience at a guaranteed price.</p>
        </div>
        <div class="row mb_30">
            <div class="col-lg-3 col-sm-6">
                <div class="accomodation-item text-center">
                    <div class="hotel-img">
                        <img src="../../../../assets/img/rooms/single.jpg" alt="">
                        <button class="btn">Details</button>
                    </div>
                    <h4>Single Room</h4>
                    <h5><strong>Php 350.00</strong><span>/night</span></h5>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="accomodation-item text-center">
                    <div class="hotel-img">
                        <img src="../../../../assets/img/rooms/double.jpg" alt="">
                        <button class="btn">Details</button>
                    </div>
                    <h4>Double Room</h4>
                    <h5><strong>Php 450.00</strong><span>/night</span></h5>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="accomodation-item text-center">
                    <div class="hotel-img">
                        <img src="../../../../assets/img/rooms/honeymoon.jpg" alt="">
                        <button class="btn">Details</button>
                    </div>
                    <h4>Honeymoon Room</h4>
                    <h5><strong>Php 750.00</strong><span>/night</span></h5>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="accomodation-item text-center">
                    <div class="hotel-img">
                        <img src="../../../../assets/img/rooms/economy.jpg" alt="">
                        <button class="btn">Details</button>
                    </div>
                    <h4>Economy Room</h4>
                    <h5><strong>Php 850.00</strong><span>/night</span></h5>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="facilities-area">
    <div class="mb_parallax_container" id="bg-parallax-facilities">
        <div class="mask">
            <div class="container">
                <div class="section-title text-center">
                    <h3 class="fw-bold">Dakbayan Facilities</h3>
                    <p>Enjoy different facilities we offer to you.</p>
                </div>
                <div class="row mb_30">
                    <div class="col-lg-4 col-md-6">
                        <div class="facilities-item">
                            <h4><span class="lnr lnr-dinner"></span> Restaurant</h4>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto, omnis consequatur
                                rerum quas vel velit iure qui tempore rem incidunt quia magnam aliquam ad repellat
                                debitis accusamus tempora atque laboriosam.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="facilities-item">
                            <h4><span class="lnr lnr-bicycle"></span> Gym</h4>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto, omnis consequatur
                                rerum quas vel velit iure qui tempore rem incidunt quia magnam aliquam ad repellat
                                debitis accusamus tempora atque laboriosam.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="facilities-item">
                            <h4><span class="lnr lnr-drop"></span> Swimming pool</h4>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto, omnis consequatur
                                rerum quas vel velit iure qui tempore rem incidunt quia magnam aliquam ad repellat
                                debitis accusamus tempora atque laboriosam.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="facilities-item">
                            <h4><span class="lnr lnr-car"></span> Service</h4>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto, omnis consequatur
                                rerum quas vel velit iure qui tempore rem incidunt quia magnam aliquam ad repellat
                                debitis accusamus tempora atque laboriosam.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="facilities-item">
                            <h4><span class="lnr lnr-music-note"></span> Bar</h4>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto, omnis consequatur
                                rerum quas vel velit iure qui tempore rem incidunt quia magnam aliquam ad repellat
                                debitis accusamus tempora atque laboriosam.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- BOOKING MODALS -->
<!-- <ng-template #content let-modal>
    <app-booking-modal></app-booking-modal>
</ng-template> -->




