@media (min-width: 360px){
    .navbar-brand{
        font-weight: bold;
        font-size: 25px;    
        margin-right: 25px;         
    }
}
@media (max-width: 360px){
    .navbar-brand{
        font-weight: bold;
        font-size: 8vw;    
        margin-right: 25px;            
    }
}

.navbar{
    background-color: rgb(0, 0, 0, 0.5);
}




